.footer {
  display: flex;
  justify-content: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: rgba(33, 33, 33, 0.7);
  font-size: 16px;
  padding-top: 60px;
  padding-bottom: 60px;
}
