.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: rgba(33, 33, 33, 0.7);
}

.profile__edit-button {
  display: flex;
  margin-top: auto;
  gap: 8px;
  opacity: 70%;
  width: fit-content;
  border: 0;
  background-color: transparent;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__add-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  background-color: rgba(33, 33, 33, 1);
  color: rgba(252, 245, 229, 1);
  height: 52px;
  padding-right: 32px;
  padding-left: 32px;
  border-radius: 8px;
  margin-top: auto;
  width: fit-content;
  white-space: nowrap;
}

.profile__add-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    margin-bottom: 12px;
    height: 80px;
    width: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin-bottom: 6px;
    max-width: 288px;
  }

  .profile__description {
    margin-bottom: 32px;
    font-size: 16px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    max-width: 288px;
    width: 100%;
  }
}
